In [3]:
from datetime import datetime, date, time, timezone

# Using datetime.combine()
d = date(2005, 7, 14)
t = time(12, 30)
datetime.combine(d, t)

datetime.datetime(2005, 7, 14, 12, 30)

In [4]:
import pandas as pd

In [1]:
env_file = "/Users/MBall/PycharmProjects/BATMO/batmo/2023-uwa.csv"

In [5]:
df = pd.read_csv(env_file, skiprows=1)

In [6]:
df

,Pseudo-Julian-Date,Date,Time,Temperature,Dewpoint,Relhum,Speed,Gust,Direction,Pressure,Solar,SumRain,Rain
0,2.460097e+06,2023-06-01,00:00,61.0,42.7,50.8,5.8,6.3,292,1014.2,297.0,0.00,0.0
1,2.460097e+06,2023-06-01,00:01,61.2,42.7,50.5,8.3,9.1,285,1014.2,305.0,0.00,0.0
2,2.460097e+06,2023-06-01,00:02,61.3,42.9,50.7,6.0,8.9,326,1014.2,297.2,0.00,0.0
3,2.460097e+06,2023-06-01,00:03,61.4,43.0,50.7,4.1,5.6,285,1014.1,297.2,0.00,0.0
4,2.460097e+06,2023-06-01,00:04,61.6,42.9,50.2,8.1,9.4,275,1014.1,296.6,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
71732,2.460147e+06,2023-07-20,19:32,74.2,56.2,53.6,9.1,12.2,245,1014.7,868.1,1.42,0.0
71733,2.460147e+06,2023-07-20,19:33,74.2,55.9,52.8,8.6,12.3,251,1014.7,870.2,1.42,0.0
71734,2.460147e+06,2023-07-20,19:34,74.0,56.1,53.6,9.7,14.2,237,1014.7,871.4,1.42,0.0
71735,2.460147e+06,2023-07-20,19:35,73.9,56.2,54.0,8.7,10.7,238,1014.8,872.4,1.42,0.0
71736,2.460147e+06,2023-07-20,19:36,73.8,55.7,53.1,12.3,13.2,244,1014.8,873.1,1.42,0.0

In [7]:
df.columns

Index([' Pseudo-Julian-Date', 'Date', 'Time', 'Temperature', 'Dewpoint',
       'Relhum', 'Speed', 'Gust', 'Direction', 'Pressure', 'Solar', 'SumRain',
       'Rain'],
      dtype='object')

In [8]:
df["Date"].iloc[100]

'2023-06-01'

In [9]:
df["Time"].iloc[100]

'01:40'

In [10]:
date = datetime.strptime(df["Date"].iloc[100], "%Y-%m-%d")

In [11]:
type(date)

datetime.datetime

In [12]:
type(date.date())

datetime.date

In [13]:
time = datetime.strptime(df["Time"].iloc[100], "%H:%M")

In [14]:
type(time.time())

datetime.time

In [15]:
combined_datetime = datetime.combine(date.date(), time.time())

In [16]:
combined_datetime

datetime.datetime(2023, 6, 1, 1, 40)

In [17]:
combined_datetime2 = combined_datetime + pd.Timedelta(1, "d")
combined_datetime2

datetime.datetime(2023, 6, 2, 1, 40)

In [55]:
if combined_datetime2 > combined_datetime:
    print("yes")
else:
    print("no")

yes